
.demo fieldset,  .demo-description fildset{
    border:1px solid #ddd;
    padding:0 3px 3px;
    width:710px;
}
.demo legend, .demo-description legend {
    color:#0b77b7;
    font-size:1.2em;
}
.demo legend span, .demo-description legend span {
    width:10em;
    text-align:right;
}
.classeDiv{
    width: 770px;
    /*    width: 100%;*/
    clear: both;
    height: 30px;
    /*    background-color: #cc0000;*/
}
.classeDivBox{
    width: 690px;
    /*    width: 100%;*/
    clear: both;
    height: 30px;
    /*    background-color: #cc0000;*/
}
.box-direito{
    width: 50%; 
    float: left;
    clear: none
}
.box-esquerdo{
    width: 50%; 
    /*background-color: #09C;*/ 
    float: left; 

}
.classeDadosInclusao{
    width: 765px;
    clear: both;
    height: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10.5pt;
}
#rad{
    width: 350px;
    height: 35px;
    float: left;
    /*line-height: 20px;*/
}
#filtro{
    line-height: 25px;
    height: 35px;
}

#filtro input{
    line-height: 15px;
}

#rad-1{
    width: 460px;
    height: 25px;
    float: left;
    line-height: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    /*background-color: #0b77b7;*/
}
.lb2Lado{
    width: 140px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: left;
    margin-right: 3px;
    /*    background-color: #8bb8f3;*/
    /*font-weight: bold;*/
}
.lb2Lado-dir{
    width: 140px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: left;
    margin-right: 3px;
    /*    background-color: #8bb8f3;*/
    /*font-weight: bold;*/
}

#rad2Lado{
    width: 110px;
    height: 20px;
    float: left;
    text-align: left;
    background-color: #0b77b7;
    line-height: 20px;
}

#rad2{
    width: 450px;
    height: 20px;
    float: left;
    text-align: left;
    /*background-color: #0b77b7;*/
    margin-right: 5px;
    line-height: 20px; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:1.1em;
}
.lb2{
    width: 150px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: right;
    margin-right: 5px;
    clear: both;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:1.1em;
    /*
    font-weight: bold;
    font-size: 10pt;
    background-color: #00ee00;*/
}
.lb1{
    width: 140px;
    height: 20px;
    float: left;
    line-height: 25px;
    text-align: right;
    margin-right: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;

}
.lb3{
    width: 190px;
    height: 20px;
    float: left;
    line-height: 25px;
    text-align: right;
    margin-right: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;

}
.lb1-box{
    width: 160px;
    height: 20px;
    float: left;
    line-height: 25px;
    text-align: right;
    margin-right: 5px;
    /*background-color: #00ee00;*/
}
.lb-2{
    font-family: Tahoma, Geneva, sans-serif;
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    font-size: 10pt;
    width: 150px;
    height: 25px;
    float: left;
    line-height: 20px;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;

}

.fitem{
    width: 550px;
    height: 30px;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}
.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}
.ui-autocomplete-loading {
    background: white url('../imagens/ui-anim_basic_16x16.gif') right center no-repeat;
}

input#nroDoc-box, #dataDoc-box, #boletim-box, #dataEvento-box, #infoComp-box{
    padding: 0.1em; /* A distância entre os objetos e a borda */
    width:300px;
    background-color:#EEF7FD;    
    /*background-image: -moz-linear-gradient(100% 100% 90deg, #dfeffc, #a6c9e2); /* Instrução para o Mozilla criar um efeito degradê no fundo do formulário */
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfeffc), to(#a6c9e2)); /* Instrução para o Chrome criar um efeito degradê no fundo do formulário */
    -webkit-border-radius:1px; /* Definição do raio, ângulo do nosso campo do formulário */
    border-radius: 5px; /* Definição do raio, ângulo do nosso campo do formulário */
    border:1px solid #c5dbec;
    /*height: 18px;
    margin-top:4px;*/
}

input#omsAtivas, input#nroDoc, input#nroNIP, #dataEvento, #boletim, #dataDoc, #infoComp, #valorParam, #dataFechamento{
    padding: 0.2em; /* A distância entre os objetos e a borda */
    width:332px;
    background-color:#EEF7FD;    
    /*background-image: -moz-linear-gradient(100% 100% 90deg, #dfeffc, #a6c9e2); /* Instrução para o Mozilla criar um efeito degradê no fundo do formulário */
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfeffc), to(#a6c9e2)); /* Instrução para o Chrome criar um efeito degradê no fundo do formulário */
    -webkit-border-radius:1px; /* Definição do raio, ângulo do nosso campo do formulário */
    border-radius: 5px; /* Definição do raio, ângulo do nosso campo do formulário */
    border:1px solid #c5dbec;
    /*height: 18px;
    margin-top:4px;*/
}

input#nroNIP, input#pessoa{
    padding: 0.4em; /* A distância entre os objetos e a borda */
    width:270px;
    background-color:#EEF7FD;    
    /*background-image: -moz-linear-gradient(100% 100% 90deg, #dfeffc, #a6c9e2); /* Instrução para o Mozilla criar um efeito degradê no fundo do formulário */
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfeffc), to(#a6c9e2)); /* Instrução para o Chrome criar um efeito degradê no fundo do formulário */
    -webkit-border-radius:1px; /* Definição do raio, ângulo do nosso campo do formulário */
    border-radius: 5px; /* Definição do raio, ângulo do nosso campo do formulário */
    border:1px solid #c5dbec;
    /*height: 18px;
    margin-top:4px;*/
}

input#indice, input#buscaNIP{
    padding: 0.2em; /* A distância entre os objetos e a borda */
    width:270px;
    background-color:#EEF7FD;    
    -webkit-border-radius:1px; /* Definição do raio, ângulo do nosso campo do formulário */
    border-radius: 5px; /* Definição do raio, ângulo do nosso campo do formulário */
    border:1px solid #c5dbec;

}


.demo{
    font-size: 90%;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    height: auto;
}
#resultadoFiltro{
    font-family: Helvetica, Arial,sans-serif;
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
/* para configurar o combobox*/
.ui-combobox-input{
    width:300px;
}

/*Config do Modulo Relacao de Eventos incluido pela OM - tela eventos_listarEventosMilitar.tpl*/

.classeDadosInclusao form{
    /*background-color:#f2f2f2;*/
    margin:10px 0 10px 0;
}
.classeDadosInclusao form p{
    padding:12px;
}
.classeDadosInclusao form p label{
    color:#333;
    font-weight:900;
    line-height: 30px;
}
.classeDadosInclusao form input{
    padding:6px;
    border:1px solid #ccc;
    width:300px;
}
.classeDadosInclusao table{
    width:765px;
    border:1px solid #ccc;
    /*text-align: center;*/
}
.classeDadosInclusao table thead th{
    background-color: #2e6e9e;
    padding:6px;
    color:#fff;
    text-align:center;
    font-size:14px;
}
.classeDadosInclusao table thead th.header{
    cursor:pointer;
}
.classeDadosInclusao table tbody td{
    padding:6px;
    text-align:center;
    color:#333;
}
.classeDadosInclusao table tbody td.linhaLeft{
    text-align:left;
}
/*Toda linha ímpar da nossa tabela receberá a classe odd, definida via CSS:*/
.classeDadosInclusao table tbody tr.odd td{
    background-color:#ffffcc;
}
/*toda vez que o usuario passar o mouse sera destacado as linhas da tabela
  metodo hover*/
.classeDadosInclusao table tbody tr.hover td{
    background-color:#a9d0f5;
}
/*Toda vez que o usuário 
 * marcar o checkbox de uma linha, a mesma deve receber uma classe (selected)*/
.classeDadosInclusao table tbody tr.selected td{
    background-color:#a9f5a9!important;
}

.classeDadosInclusao .pagedisplay{
    width:40px;
    text-align:center;
    border:none;
    background-color:#f2f2f2;
    font-weight:900;
}
.classeDadosInclusao #pager span{
    font-weight:900;
    display:inline-block;
    margin:0 0 0 20px;
    color:#666;
    float:right;
}

.classeDadosInclusao #pager {
    text-align:left;
    padding:10px;
    width:750px;
    float: left;
}

.classeDadosInclusao a img{
    border:none;
}
/*
a {
    border: 2px #0b77b7 dotted;
    text-decoration: none;    
}

a.linkAcao:hover {text-decoration:none; border: none;}
a.linkAcao:active {text-decoration:none; border: none;}
*/
.houverHabilita{
    background-color: #a9d0f5;
}

a.rel-link{
    color: #333;
    text-decoration: none;
}

a.rel-link:hover{
    color: #333;
    text-decoration: underline;
}
/* resultado tabelaDadosEventos*/
#insere_aqui table{
    width:480px;
    border:1px solid #ccc;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10 px; 
    margin-top: 10px;
    /*text-align: center;*/
}
#insere_aqui table thead th{
    background-color: #efefef;
    padding:6px;
    color:#333;
    text-align:left;
    font-size:13px;
}
#insere_aqui table thead th.header{
    cursor:pointer;
}
#insere_aqui table tbody td{
    padding:6px;
    text-align:left;
    color:#333;
}
#insere_aqui table tbody td.linhaLeft{
    text-align:left;
}
/*Toda linha ímpar da nossa tabela receberá a classe odd, definida via CSS:*/
#insere_aqui table tbody tr.odd td{
    background-color:#ffffcc;
}

/*Editar eventos - Parametros*/
table#relacaoParametros{
    width:680px;
    border:1px solid #ccc;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10 px; 
    /*text-align: center;*/
}
table#relacaoParametros thead th{
    background-color: #efefef;
    border-bottom:1px solid #ccc;
    font-weight: normal;
    padding:6px;
    color:#333;
    text-align:left;
    font-size:13px;
}
table#relacaoParametros thead th.header{
    cursor:pointer;
}
table#relacaoParametros tbody td{
    padding:6px;
    text-align:left;
    color:#333;
}

table#relacaoParametros tbody td.linhaLeft{
    text-align:left;
}
.impar{background:#f0f0f0}
.par{background:#999}
/*
Toda linha ímpar da nossa tabela receberá a classe odd, definida via CSS:
table#relacaoParametros tbody tr.odd td{
    background-color:#ffffcc;
}
*/
.resultParam{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #cc0000;
}

#txTEvento{
    width: 600px;
    height: auto;
    margin-top: 10px;
    text-align: left;
}
#leg{
    color:#0b77b7;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:1.2em;        
}
#dlg fieldset legend{
    color:#0b77b7;
}
/**/
.relaEventos{
    width: 670px; text-align: left;float: left; margin-left: 5px;
    margin-bottom: 5px;
}
.relaEventos table.tabEventos{
    width: 670px;
    border-bottom: 1px #ddd solid;
}

.relaEventos table.tabEventos .headerEv{
    width: 80px;
    font-weight: normal;
    /*background-color: #cc0000;*/
}

.relaEventos table.tabEventos .dadosEv{
    width: 100px;
    font-weight: normal;
    /*background-color: #a9f5a9;*/
}


